<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.goseumdochi.android.leash"
    android:versionCode="12"
    android:versionName="0.12" >
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:label="@string/app_name"
        android:name="org.goseumdochi.android.lib.MultidexApplication"
        android:icon="@drawable/icon">
      <activity
          android:name=".LeashMainActivity"
          android:label="@string/app_name"
          android:screenOrientation="portrait">
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity
          android:name=".LeashSettingsActivity"
          android:label="@string/prefs_title"
          android:screenOrientation="portrait">
      </activity>
      <activity
          android:name=".LeashAboutActivity"
          android:label="@string/about_title"
          android:screenOrientation="portrait">
      </activity>
      <activity
          android:name=".LeashWalkthroughActivity"
          android:label="@string/walkthrough_title"
          android:screenOrientation="portrait">
      </activity>
      <activity
          android:name=".LeashControlActivity"
          android:label="@string/app_name"
          android:theme="@style/GoseumdochiThemeNoTitleBar"
          android:noHistory="true"
          android:screenOrientation="landscape">
      </activity>
      <activity
          android:name=".LeashBluetoothErrorActivity"
          android:label="@string/error_title"
          android:screenOrientation="landscape">
      </activity>
      <activity
          android:name=".LeashUnfoundActivity"
          android:label="@string/error_title"
          android:screenOrientation="landscape">
      </activity>
      <activity
          android:name=".LeashNoSensorActivity"
          android:label="@string/error_title"
          android:screenOrientation="landscape">
      </activity>
    </application>
</manifest>
