<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.goseumdochi.android.common"
    android:versionCode="1"
    android:versionName="0.1" >
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="23"/>
    <application
        android:theme="@style/GoseumdochiTheme"
        android:installLocation="auto">
    </application>
</manifest>
